


.form-row{
position:center;
margin-left: auto;
margin-right: auto;
}

.form-group col-md-6 {

display: block;
    margin-left: 200px;
    margin-right: 200px;
    position:center;
    margin-left: auto;
    margin-right: auto;
}
.form-control{
    width: 30em;
    position:center;
    margin-left: auto;
    margin-right: auto;
}

.collapse navbar-collapse,.sr-only {
text-color: blue;
}

.img-fluid{
max-width: 100%;
height: 200px;
}