<div>
    <h2 id="page-heading">
        <span jhiTranslate="cosmiconionsApp.leType.home.title">Le Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-le-type" [routerLink]="['/le-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cosmiconionsApp.leType.home.createLabel">
            Create a new Le Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="leTypes?.length === 0">
        <span jhiTranslate="cosmiconionsApp.leType.home.notFound">No leTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="leTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="cosmiconionsApp.leType.nom">Nom</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leType of leTypes ;trackBy: trackId">
                <td><a [routerLink]="['/le-type', leType.id, 'view' ]">{{leType.id}}</a></td>
                <td>{{leType.nom}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/le-type', leType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/le-type', leType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(leType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
