/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 100%;
  height: 400px;
  background: url('../../content/images/logocs.png') no-repeat center top;
  background-size: 100%;
  margin-left: 170%;
}

.eglise {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/egliseCassee.jpg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/logocs.png') no-repeat center top;
    background-size: contain;
  }
}

.table2 {
  width: 800px;
  margin-left: 90%;
  margin-right: 10%;
  border-radius: 10px;
}

td,
th,
tr {
  width: 800px;
  background-color: #04194f;
  margin-left: 90%;
  margin-right: 10%;
  border-radius: 10px;
  color: white;
}

.button {
  margin_left: 100%;
}
