<div>
<p class="row">

    <p class="col-md-9">
        <h1 align="center" class="display-4" jhiTranslate="home.title">Crowdfunding Cosmic Onion</h1>
        <p align="center" class="lead" jhiTranslate="home.subtitle">By les Radins de la Galaxie</p>
        <hr>
        <div class="col-md-3">
            <span align="center" class="hipster img-fluid rounded"></span>
        </div>

    <br>
    <br>
    <br>
    <h2 align="center">Notre mission : vous guider dans la lumière cosmique.</h2>
    <br>

    <div id="table2" align="center">
        <tr>
            <th > <h1 align="center">Un Monde Cosmic !</h1>
                <br>
                <p align="center">
                    Nous sommes de plus en plus nombreux à vouloir agir pour un monde meilleur : un monde COSMIC.
                    <br>
                    La communauté "Les Radins de la galaxie" a décidé de créer son propre site de crowdfunding : Cosmic Onions. Tu pourras aider à faire grandir nos idées pour un monde meilleur.
                    <br>
                    Notre communauté a besoin de toi pour récolter des fonds pour mener à bien nos différents projets :
                    <br>
                <ul>
                    <li><a>Rénover notre Église cosmique</a></li>
                    <li><a>Financer un court-métrage retraçant l'histoire de la communauté</a></li>
                    <li><a>Construire notre École/Temple cosmique</a></li>

                </ul>
                </p>
            </th>
        </tr>
    </div>

    <br>
    <br>
    <br>
    <button align="center" type="button" class="button" class="btn btn-secondary btn-lg" routerlink="/account/register">Rejoignez-nous !</button>
    <br>
    <br>
    <br>

    <h1 align="center">Mobilisez vos familles et amis !</h1>
<br>
    <p>Rejoins les rangs de la communauté ! </p>
    <p>Pour cela, rien de plus simple ! Toi qui souhaite devenir membre, la communauté te remerciera de tes généreux dons en t'offrant des cosmic goodies et en t’attribuant des titres prestigieux (Maître, Comte, Marquis, gueux…). </p>




    <br>
    <br>
    <br>
        <p jhiTranslate="home.question">
            Des questions ?
            <br>
    <p>Notre comité d’experts cosmiques se tient à votre disposition pour répondre à la moindre de vos demandes !     </p>

        <ul>
            <li><a routerLink="/contact" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage">Contact</a></li>

        </ul>


    </p>
</p>
</div>
