

<span class="nomimageEnteteOnion img-fluid rounded" ></span>

<div>

<p class="row">

    <p class="col-md-9">
        <p align="center" class="lead" jhiTranslate="home.subtitle">By les Radins de la Galaxie</p>
        <hr>
    <br>
    <br>

    <h2 align="center">Notre mission : vous guider vers la lumière cosmique.</h2>
    <br>
    <br>
    <br>

    <div id="table2" align="center">
        <tr>
            <th >
                <br>
                <p align="center">
                    Nous sommes de plus en plus nombreux à vouloir agir pour un monde meilleur : un monde COSMIC.
                    <br>
                    La communauté "Les Radins de la galaxie" a décidé de créer son propre site de crowdfunding : Cosmic Onions. Tu pourras aider à faire grandir nos idées pour un monde meilleur.
                    <br>
                    Notre communauté a besoin de toi pour récolter des fonds pour mener à bien nos différents projets :
                    <br>
                <ul><div class="textaligne">
                    <a>Rénover notre Église cosmique</a>
                <br>
                    <a>Financer un court-métrage retraçant l'histoire de la communauté</a>
                <br>
                    <a>Construire notre École/Temple cosmique<br><br></a></div>
                </ul>
                </p>
            </th>
        </tr>
    </div>

    <br>
    <br>
    <hr>
    <br>
    <br>

    <h1 align="center">Nos projets en cours</h1>
    <br>
    <br>





    <div class="row">
        <div class="col-md-6">
    <span class="ecole img fluid rounded"></span>
        </div>
        <div class="col-md-6">
    <span class="ecolefinal img fluid rounded"></span>
        </div>
    </div>

    <br>
    <br>
    <div align="center" class="container">
        <div align="center" class="card">
            <div  align="center" class="box">
                <div class="percent">
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>90<span>%</span></h2>
                    </div>
                </div>
                <h2 class="text">Eglise</h2>
            </div>
        </div>


        <div align="center" class="card">
            <div class="box">
                <div class="percent">
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>10<span>%</span></h2>
                    </div>
                </div>
                <h2 class="text">Ecole</h2>
            </div>
        </div>


        <div align="center" class="card">
            <div class="box">
                <div class="percent">
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70"></circle>
                    </svg>
                    <div class="number">
                        <h2>70<span>%</span></h2>
                    </div>
                </div>
                <h2 class="text">PROJET</h2>
            </div>
        </div>
    </div>
    <!--
        <div class="col-md-3">
            <span align="center" class="hipster img-fluid rounded"></span>
        </div>
-->
    <br>
    <br>
    <br>

    <p align="center">
        Grâce à notre communauté de membres super actifs,<br>
        nous avons la chance de progresser rapidement sur le financement de nos projets.
        <br>
        Nous voulons vous permettre d'être dans le Monde Cosmic le plus rapidement possible.
        <br>
        <br>
        <button ><img src="../../content/images/donation.png"> DONATION </button>
    </p>
    <br>
    <br>



    <br>
    <br>
    <br>

    <h1 align="center">Mobilisez vos familles et amis !</h1>
<br>
    <p align="center">Rejoins les rangs de la communauté ! </p>
    <p align="center">Pour cela, rien de plus simple ! Toi qui souhaite devenir membre, <br>
        la communauté te remerciera de tes généreux dons en t'offrant <br>
        des cosmic goodies et en t’attribuant des titres prestigieux <br>
        (Maître, Comte, Marquis, gueux…).
        <br>
        <br>
        <br>

        <button align="center" type="button" class="button" class="btn btn-secondary btn-lg" routerlink="/account/register">Rejoignez-nous !</button>

    </p>

    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>





</div>
